@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: "sans-serif", sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3 {
    font-family: "Roboto", sans-serif;
  }
}

.custom-input {
  border-radius: 2px;
  border: 1px solid #d1d5db; /* A light gray border */
  padding: 10px 5px 15px;
  width: 100%;
}

.custom-input:focus {
  border-color: gray; /* A blue border on focus */
  box-shadow: 0 0 0 1px #3b82f6;
  outline: none;
}

/* Hide scrollbar but allow scrolling */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 9999px;
}

/* .scrollbar-thumb::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
} */

/* Correctly target the main scrollbar wrapper to change its thickness */
.scrollbar-thumb::-webkit-scrollbar {
  width: 2px;   /* Sets thickness of vertical scrollbar */
  height: 2px;  /* Sets thickness of horizontal scrollbar */
}

/* Correctly target the thumb handle for color and style adjustments */
.scrollbar-thumb::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
}

